.active_cards {
  width: 15%;
  display: inline-block;
}
.active_images {
  width: 75%;
}
.table_seat {
  border: 1px solid black;
  border-radius: 50%;
  width: 5%;
}
#poker_table {
  width: 90%;
  border: 1px solid black;
  border-radius: 50%;
  position: relative;
  left: 5%;
  background-color: #19ab39;
}
#active_card_box {
  border: 1px solid black;
  background-color: grey;
  width: 80%;
  height: 12vh;
  position: relative;
  left: 8%;
  bottom: 15vh;
  margin: 3%;
}
#cardDealer {
  margin-top: 50px;
}
